
<section id="content">
    <article class="post post-detail" itemscope="">
        <h1 itemprop="name">Tổng hợp các bài viết hay trên Blog Lập Trình Cuộc Sống</h1>
        <div class="post-body" itemprop="articleBody">
            <p>Để các bạn tiện theo dõi, tại trang này sẽ cập nhật các bài viết được bạn đọc quan tâm nhất, cũng như mình cảm thấy có ích cho người đọc nhất.</p>
            <p><a href="#">Lập trình viên cần học những gì ?</a></p>
            <p><a href="#">Thiền đã cứu rỗi linh hồn tôi như thế nào?</a></p>
            <p><a href="#">Tại sao dân lập trình thường FA</a></p>
            <p><a href="#">Viết cho sinh viên IT</a></p>
            <p><a href="#">Lương lập trình viên mới ra trường - sự thật và ảo tưởng</a></p>
            <p><a href="#">Bạn học CNTT và định bỏ đại học? Hãy đọc câu chuyện của mình</a></p>
            <p><a href="#">Giải thích và hướng dẫn cài đặt Gitlab Continuous Deployment một cách dễ hiểu nhất</a></p>
            <p><a href="#">Lập trình viên PHP đứng đầy đường</a></p>
            <p><a href="#">Kiếm tiền bằng lập trình web như thế nào?</a></p>
            <p><a href="#">Lập trình viên 10 tiếng</a></p>
            <p><a href="#">Tổng hợp 9 kênh youtube mà dân công nghệ nên theo dõi</a></p>
            <p><a href="#">Tổng hợp 9 kênh youtube mà dân công nghệ nên theo dõi - Phần 2</a></p>
            <p><a href="#">Học làm hacker</a></p>
            <p><a href="#">Cùng nhau tạo restful API đơn giản với php</a></p>
            <p><a href="#">Tôi đã hack Chợ Tốt như thế nào</a></p>
            <p><a href="#">Những phần mềm nên cài đặt trên ubuntu</a></p>
            <p><a href="#">Tổng hợp tất tần tật những công cụ cần thiết cho web developer</a></p>
            <p>Ngoài ra, để có thể nhận được bài viết sớm nhất, bạn có thể click vào đây để đăng ký, khi có bài viết mới, bạn sẽ nhận được nó qua email. Hoặc theo dõi <a href="#">fanpage</a> hoặc <a href="#">kênh youtube</a> của Lập trình cuộc sống.</p>

        </div>
    </article>
</section>