@model List<BlogViewModel>
@{
    ViewData["Title"] = "The Golb";
    ViewData["MetaDescription"] = "Good post";
}
<section id="content">
    <article class="post post-detail" itemscope="">
        <h1 itemprop="name">Tổng hợp các bài viết hay trên Blog Lập Trình Cuộc Sống</h1>
        <div class="post-body" itemprop="articleBody">
            <p>Để các bạn tiện theo dõi, tại trang này sẽ cập nhật các bài viết được bạn đọc quan tâm nhất, cũng như mình cảm thấy có ích cho người đọc nhất.</p>
            @foreach (var blog in Model)
            {
                <p><a asp-controller="Post" asp-action="Detail" asp-route-blogId="@blog.Id">@blog.Name</a></p>
            }
            <p>Ngoài ra, để có thể nhận được bài viết sớm nhất, bạn có thể click vào đây để đăng ký, khi có bài viết mới, bạn sẽ nhận được nó qua email. Hoặc theo dõi <a href="#">fanpage</a> hoặc <a href="#">kênh youtube</a> của Lập trình cuộc sống.</p>

        </div>
    </article>
</section>