<section id="content">
    <article class="post post-detail" itemscope="">
        <h1 itemprop="name">Về blog Golb</h1>
        <div class="post-body" itemprop="articleBody">
            <p>Trước hết xin được cảm ơn bạn vì đã xem trang này, mình là <a href="#" target="_blank">Phan Trung Thành</a>.</p>

            <h2>Tại sao lại là Golb?</h2>

            <p>Golb là chữ viết ngược của Blog :D</p>

            <blockquote>
                <p>
                    “The biggest mistake is you think you have time.”<br>
                    Someone
                </p>
            </blockquote>

            <h2>Kết bạn với tôi nhé:</h2>

            <p>Bạn có thể kết bạn với tôi bằng cách xem <a href="#" target="_blank">website cá nhân của tôi</a>, xem tôi chém gió trên kênh youtube <a href="#" target="_blank">The Golb</a>, theo dõi tôi trên <a href="#" target="_blank">facebook fan page</a> hoặc <a href="#" target="_blank">google+</a> ngoài ra bạn cũng có thể xem ảnh sống ảo của tôi trên <a href="#" target="_blank">instagram</a>.</p>

            <p><strong>Chúc bạn vui vẻ khi đọc blog này</strong></p>
        </div>
    </article>
</section>