<section id="content">
    <article class="post post-detail" itemscope="">
        <h1 itemprop="name">What Should I Write About?</h1>
        <div class="post-body" itemprop="articleBody">
            <img src="https://usercontent2.hubstatic.com/12593011_f520.jpg" />
        </div>
    </article>
</section>