<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Golb</title>
    <meta name="description" content="Golb">
    <meta name="keywords" content="Golb" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/client-side/images/favicon.ico">
    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-side/css/style.css">
    <!-- jquery js -->
    <script type="text/javascript" src="~/client-side/js/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script type="text/javascript" src="~/client-side/js/bootstrap.min.js"></script>
    <script src="~/client-app/shared/golb.js"></script>
    <script src="~/client-app/controllers/base/index.js"></script>
</head>

<body>
    <header id="header">
        <div id="logo">
            <h1><a asp-controller="Home" asp-action="Index">Golb</a></h1>
        </div>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li><a asp-controller="Home" asp-action="Course">Khóa học</a></li>
            <li><a asp-controller="Post" asp-action="GoodPost">Bài viết hay</a></li>
            <li><a asp-controller="Home" asp-action="About">Tác giả</a></li>
            <li><a target="_blank" href="https://www.facebook.com/thanhptse" rel="noopener">Fan page</a></li>
            <li><a target="_blank" href="https://www.youtube.com/trungthanhbp?sub_confirmation=1" rel="noopener">Youtube</a></li>
        </ul>
        <div class="clear"></div>
    </header>

    @RenderBody()

    <div id="footer-outer">
        <footer id="footer" class="container">
            <div class="box">
                <h4>Theo dõi blog</h4>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a target="_blank" href="#">Chúng tôi trên Facebook</a></li>
                    <li><a target="_blank" href="#">Chúng tôi trên Youtube</a></li>
                    <li><a target="_blank" href="#">Yêu cầu viết bài</a></li>

                </ul>
            </div>
            <div class="box">
                <h4>Link hữu ích</h4>
                <ul>
                    <li><a href="#">Giới thiệu blog</a></li>
                    <li><a href="#">Bài viết hay</a></li>
                    <li><a href="#">Điều khoản</a></li>
                    <li><a target="_blank" href="#">Website Tác giả</a></li>
                </ul>
            </div>
            <div class="box">
                <h4>Blog bạn bè</h4>
                <ul>
                    <li><a target="_blank" href="#">Tôi đi code dạo</a></li>
                    <li><a target="_blank" href="#">Niviki.com</a></li>
                    <li><a target="_blank" href="#">Giaosucan's Blog</a></li>
                    <li><a target="_blank" href="#">The Lazy Dev</a></li>
                </ul>
            </div>
            <div class="box">
                <h4>Kết nối</h4>
                <ul>
                    <li><a target="_blank" href="#">Website Tác giả</a></li>
                    <li><a target="_blank" href="#">Tôi trên Twitter</a></li>
                    <li><a target="_blank" href="#">Tôi trên Google plus</a></li>
                    <li><a target="_blank" href="#">Tôi trên Instagram</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="tag_cloud">
                <h4>Tags</h4>
                <a href="#">Hacking cơ bản</a>,
                <a href="#">Học hack cơ bản</a>,
                <a href="#">Học ubuntu</a>,
                <a href="#">Lập trình game javascript</a>,
                <a href="#">Lập trình javascript</a>,
                <a href="#">Lập trình game đơn giản</a>,
                <a href="#">Tự học linux</a>,
                <a href="#">Jquery</a>,
                <a href="#">Kinh nghiệm phỏng vấn</a>,
                <a href="#">Lập trình php</a>,
                <a href="#">Lập trình web</a>,
                <a href="#">Live stream lập trình</a>,
                <a href="#">Cách trở thành hacker mũ đen</a>,
                <a href="#">Dạy làm hacker từ A đến Z</a>,
                <a href="#">Đời sống lập trình viên</a>,
                <a href="#">Ngành lập trình viên</a>,
                <a href="#">Cách lập trình game</a>,
                <a href="#">Bí quyết học lập trình</a>,
                <a href="#">Những điều cơ bản về lập trình</a>,
                <a href="#">Lập trình viên</a>,
                <a href="#">Nghề lập trình viên hiện nay</a>,
                <a href="#">Cách học lập trình cho người chưa biết gì</a>,
                <a href="#">học lập trình như thế nào</a>,
            </div>
        </footer>
    </div>

    <script>
        var baseObj = new BaseController();
        baseObj.initialize();
    </script>
    @RenderSection("Scripts", required: false)
</body>

</html>