@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/blog/index.js" asp-append-version="true"></script>
    <script>
        var blog = new blogController();
        blog.initialize();
    </script>

}

<div class="page-title">
    <div class="title_left">
        <h3>Blogs</h3>
    </div>

    <div class="title_right">
        <div class="col-md-3 col-sm-12 form-group"></div>
        <div class="col-md-1 col-sm-12 form-group">
            <button id="btnCreate" class="btn btn-success">Create</button>
        </div>
        <div class="col-md-4 col-sm-12 form-group">
            <select class="form-control" id="ddlCategorySearch">
                <option>--Select category--</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-5 form-group">
            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th width="17%">Name</th>
                            <th width="30%">Description</th>
                            <th width="15%">Category Name</th>
                            <th width="6%">Image</th>
                            <th width="10%">Created Date</th>
                            <th width="8%">View Count</th>
                            <th width="7%">Status</th>
                            <th width="7%">Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                Item per page
                            </span>
                            Total: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-8">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>
        <td>{{Name}}</td>
        <td>{{Description}}</td>
        <td>{{CategoryName}}</td>
        <td>{{{Image}}}</td>
        <td>{{CreatedDate}}</td>
        <td>{{ViewCount}}</td>
        <td>{{{Status}}}</td>
        <th scope="row">
            <a class="btn btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil" style="color:darkgray; font-size:1.8em"></i></a>
            <a class="btn btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash" style="color: red; font-size:1.8em"></i></a>
        </th>
    </tr>
</script>
@Html.Partial("_AddEditModal.cshtml")
