<section id="content">
    <div id="index">
        <div class="category_detail">
            <h1>Chuyện nghề nghiệp</h1>
            <p>Chuyện nghề nghiệp - là chuyên mục nơi một thằng coder viết về những buồn vui, khó khăn, trăn trở trong nghề lập trình.</p>
        </div>

        <article class="post" itemscope="">
            <h1 itemprop="name"><a itemprop="url" href="#" title="Mình đã học lập trình như thế nào?">Mình đã học lập trình như thế nào?</a></h1>

            <a href="#"><img itemprop="image" src="~/client-side/images/thanh-cong.png" alt="Mình đã học lập trình như thế nào?" class="post_thumbnail"></a>

            <div class="excerpt" itemprop="description">
                Mình đã học lập trình như thế nào? Trong video này, mình chia sẻ về quãng thời gian đã học lập trình của mình từ thời cấp 3 đến lúc trở thành lập trình viên. Mỗi người có một con đường khác, cuộc sống không có ai giống ai cả, nhưng rồi cuối cùng chúng ta gặp nhau ở đây, tôi gặp bạn, những người có cùng niềm đam mê
            </div>
            <div class="clear"></div>
        </article>

        <article class="post" itemscope="">
            <h1 itemprop="name"><a itemprop="url" href="#" title="Nên học ngôn ngữ lập trình nào?">Nên học ngôn ngữ lập trình nào?</a></h1>

            <a href="#"><img itemprop="image" src="~/client-side/images/ngon-ngu-lap-trinh.png" alt="Nên học ngôn ngữ lập trình nào?" class="post_thumbnail"></a>

            <div class="excerpt" itemprop="description">
                Đối với các bạn mới học lập trình, lựa chọn ngôn ngữ lập trình để học là một việc rất khó khăn. Mỗi ngôn ngữ có những đặc điểm riêng, không có ngôn ngữ nào mạnh hơn ngôn ngữ nào cả. Bạn không biết ngôn ngữ nào phù hợp với mình, bài viết này sẽ giúp bạn.
            </div>
            <div class="clear"></div>
        </article>

        <article class="post" itemscope="" >
            <h1 itemprop="name"><a itemprop="url" href="#" title="Trông bạn sẽ cool hơn trong mắt nhà tuyển dụng nếu bạn có những thứ này">Trông bạn sẽ cool hơn trong mắt nhà tuyển dụng nếu bạn có những thứ này</a></h1>

            <a href="#"><img itemprop="image" src="~/client-side/images/tim-viec.png" alt="Trông bạn sẽ cool hơn trong mắt nhà tuyển dụng nếu bạn có những thứ này" class="post_thumbnail"></a>

            <div class="excerpt" itemprop="description">
                Nhà tuyển dụng dễ dàng có được những thông tin cần thiết, đọc được những bài viết trên blog, họ sẽ hiểu bạn hơn, một là họ ghét bạn, hai là họ thích bạn, từ đó bạn dễ tìm được môi trường làm việc phù hợp hơn.
            </div>
            <div class="clear"></div>
        </article>
    </div>
</section>